.billboard{
    .billboard__image{
        width: 100%;
        img{
            width: 100%;
        }
        .billboard-img-v3{
            display: none;
        }
    }
    .billboard__content{
        position: absolute;
        height: 70%;
        width: 21%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 15%;
        .billboard__title{
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: .4rem;
        }
        .billboard__text{
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        .billboard__btn{
            width: 100%;
            background-color: #1d1d1d;
            color: white;
            padding: .7rem 1.5rem;
            // border-radius: 5px;
            font-size: 1rem;
            font-weight: 900;
            margin-top: .5rem;
            border: none;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: #000;
            }
        }
    }
}
.why-teach{
    padding-top: 70px;
    text-align: center;
    .why-teach-heading{
        font-size: 3.5rem;
        margin-bottom: 1rem;
        h1{
            font-weight: 600;
        }
    }
    .why-teach-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        place-items: center;
        .why-teach-content__item{
            width: 80%;
            padding-top: 20px;
            .why-teach-content__item__img{
                width: 100%;
                img{
                    width: 25%;
                }
            }
            .why-teach-content__item__text{
            
                h3{
                    font-size: 1.1rem;
                    font-weight: 700;
                    margin-bottom: .5rem;
                    margin-top: .9rem;
                }
                p{
                    font-size: .9rem;
                    font-weight: 400;
                }
            }
        }
    }
}
.how-start{
    .how-start-heading{
        text-align: center;
        margin-top: 70px;
        margin-bottom: 40px;
        h1{
            font-size: 2.5rem;
            font-weight: 600;
        }
    }
    .how-start-content{
        display: flex;
        margin: 2% 10%;
        .how-start-content-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 40px;
            p{
                width: 100%;
                font-size: 1.1rem;
                // font-weight: 400;
                line-height: 1.5;
                padding: 0 40px;
            }
            h6{
                padding: 0 40px;
                font-size: 1.2rem;
                font-weight: 800;
                margin-top: .3rem;
                margin-bottom: 1rem;
            }
        }
    }
        
}
@media screen and (max-width: 1000px){
    .billboard .billboard__content{
        height: auto;
        width: 30%;
        left: 5%;
        margin-top: 7%;
        align-items: flex-start;
        .billboard__title{
            font-size: 1.5rem;
        }
        .billboard__text{
            font-size: .9rem;
        }
        .billboard__btn{
            width: 60%;
            padding: .5rem 1rem;
            font-size: .8rem;
        }
    }
    .how-start{
        .how-start-heading{
            margin: 30px 0;
            h1{
                font-size: 2.5rem;
            }
        }
        .how-start-tab{
            margin: 0;
            font-size: 14px;
        }
        .how-start-content{
            margin: 30px 0;
            .how-start-content-text{
                width: 100%;
                margin-left: 0;
                p{
                    padding: 0;
                }
                h6{
                    padding: 0;
                }
            }
            .how-start-content-img{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
            
    }
}
@media screen and (max-width: 700px){
    .billboard {
        display: flex;
        flex-direction: column-reverse;
        .billboard__image{
            .billboard-img-v3{
                display: block;
            }
            .billboard-img-v4{
                display: none;
            }
        }
        .billboard__content{
        position: relative;
        width: 100%;
        left: 2%;
        margin-top: 7%;
        align-items: center;
            .billboard__title{
                font-size: 1.5rem;
            }
            .billboard__text{
                text-align: center;
                font-size: .9rem;
            }
            .billboard__btn{
                width: 60%;
                padding: .5rem 1rem;
                font-size: .8rem;
            }
        }
    }
    
    .how-start{
        .how-start-heading{
            margin: 30px 0;
            h1{
                font-size: 2rem;
            }
        }
        .how-start-tab{
            margin: 0;
            font-size: 12px;
        }
        .how-start-content{
            flex-direction: column;
            margin: 30px 0;
            .how-start-content-text{
                margin-left: 0;
                p{
                    padding: 0;
                }
                h6{
                    padding: 0;
                }
            }
        }
    }
    .why-teach{
        .why-teach-content{
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
            
        }
    }
}