$boldfont: "Oswald", sans-serif;
$lightfont: "Ubuntu", sans-serif;

// all courses cards
.courselist {
  padding: 40px 0;
  h1 {
    font-family: $lightfont;
    font-weight: 600;
    font-size: 37px;
  }
  p {
    font-size: 16px;
    font-family: $lightfont;
  }
  .courses-cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 10px 0;
  }
}


@media only screen and (max-width: 800px) {
  .courselist {
    padding: 40px 20px;
    h1{
      font-size: 30px;
    }
    p{
      font-size: 14px;
    }
    .courses-cards{
      grid-template-columns: repeat(2,1fr);
    }
  }
}
@media only screen and (max-width: 468px) {
  .courselist {
    padding: 40px 20px;
    h1{
      font-size: 30px;
    }
    p{
      font-size: 14px;
    }
    .courses-cards{
      grid-template-columns: repeat(1,1fr);
    }
  }
}

a{
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

// Single course card
.courseCard{
  margin-top: 30px;
  width: 100%;
    .c-card{
      // background-color: rgb(226 255 255);
      display: flex;
      flex-direction: column;
      // border-radius: 10px;
      transition: .4s ease-in-out;
      cursor: pointer;
        .c-card-img{
          width: 100%;
          height: 100%;
          img{
            transition: .4s ease all;
              // border-top-right-radius: 10px;
              // border-top-left-radius: 10px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
        }
        .c-card-details{
          padding: 19px 12px;
          .c-card-title{
            padding: 3px 0;
            h5{
              font-size: 15px;
              margin: 0;
            }
          }
          .c-card-instructor p{
            padding: 3px 0;
            margin: 0;
            font-size: 13px;
            font-weight: 100;
            color: rgb(94, 94, 94);
          }
          .c-card-rating{
            padding: 1px 0;
            display: flex;
            gap: 3px;
            align-items: center;
            font-weight: 400;
            font-size: 11px;
              i{
                color: rgb(209, 178, 2);
              }
              p{
                margin: 0;
                font-size: 15px;
                color: red;
              }
              :last-child{
                color: rgb(94, 94, 94);
              }
          }
          .c-card-price{
            padding: 0px 0;
            display: flex;
            gap: 3px;
            span{ font-size: 16px; }
            p{
              font-size: 18px;
              color: black;
              margin: 0;
            }
          }
        } 
    }
    .c-card:hover{
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.159);
      .c-card-img{
        img{
          transform: scale(1.01);
        }
      }
    }
}