.lectures{
padding-top: 100px;
    .lectures_title{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .lectures_items{
        width: 100%;
        display: grid;
        grid-template-columns: 70% 30%;
            .lectures_video{
                width: 100%;
                height: 100%;
                margin-bottom: 30px;
                video{
                    width: 100%;
                }
            }
            .lectures_list{
                margin: 0 30px;
                h4{
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                ul{
                    list-style: none;
                    li{
                        font-size: 16px;
                        button{
                            border: none;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            border-bottom: .1px solid #787878;
                            width: 100%;
                            text-align: left;
                            padding: 15px 15px;
                            transition: .3s ease;
                            background-color: #faeded;
                            &:hover{
                                background-color: #767575;
                                color: white;
                            }    
                        }
                    }
                }
            }
            
    }
}