footer{
    width: 100%;
    background-color: #1c1d1f;
    padding: 70px ;
    font-family: "Ubuntu", sans-serif;
    color: white;
    margin-top: 50px;
    .footer-sections{

        display: flex;
        justify-content: space-around;
        padding: 10px 50px;
        align-items: center;
        
        h5{
            font-size: "Oswald", sans-serif;
            font-size: 20px;
            text-align: center;
            padding: 10px 0;
        }
        ul{
            margin: 0;
            padding: 0;
            
            li{
                list-style: none;
                padding: 9px 0;
                margin: 0;
                font-size: 15px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: white;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
        .footer-section-c2{
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 30%;

            h1{
                text-align: center;
                font-size: 35px;
            }
            input[type="email"]{
                padding: 7px 20px;
                width: 100%;
                margin: 30px 0;
                border-radius: 5px;
                border: none;
                text-align: center;
            }
            button{
                align-self: center;
                width: 50%;
                padding: 7px 0;
                background-color: transparent;
                border: white 1px solid;
                font-size: 15px;
                transition: .2s ease-in;
                border-radius: 40px;
                color: white;
            }
            button:hover{
                background-color: black;
                color: white;
            }
        }
        .footer-section-c3{
            text-align: center;
            p{
                padding: 3px 0;
                margin: 0px 0;
            }
            
            .footer-social{
                padding-top: 20px;
                i{
                    cursor: pointer;
                    padding: 0 20px;
                    font-size: 20px;
                    transition: .3s ease-in;
                }
                i:hover{
                    color: lightblue;
                }
            }
        }
        
        
    }
    .footer-copyright{
        p{
            font-size: 13px;
            color: white;
        }
    }
    

}
@media only screen and (max-width: 768px) {
    footer{
        padding: 35px 0;
        .footer-sections{
            padding: 20px 5px;
            .footer-section-c1{
                h5{ font-size: 15px; }
                ul{ li{ font-size: 13px; } }
            }
            .footer-section-c2{
                h1{ font-size: 18px; }
                input[type=email]{
                    padding: 5px;
                    font-size: 13px;
                    margin: 19px 0;
                }
                button{ 
                    width: 80%;
                    font-size: 13px;
                }
            }
            .footer-section-c3{
                h5{ font-size: 15px; }
                p{ font-size: 13px; }
                .footer-social{
                    i{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 468px) {
    /* For mobile phones: */
    footer{
        padding: 5px 0px;
        .footer-sections{
            flex-direction: column;

            .footer-section-c2{
                padding-top: 20px;
                width: auto;
                align-items: center;

                input[type=email]{
                    margin: 20px;
                }
            }
            .footer-section-c3{
                padding-top: 20px;
            }
        }
    }
}