@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Ubuntu&display=swap');

$black : black;
$white : white;
$gray : gray;
$boldfont : 'Oswald', sans-serif;
$lightfont : 'Ubuntu', sans-serif;

.navbar{
    display: flex;
    align-items: center;
    // height: 70px;
    padding-top: 15px;
    z-index: 100;

    .logo{
        padding-left: 40px;
        h1{
            // color: rgb(45, 39, 39);
            color: white;
            font-size: 44px;
            font-family: $boldfont;
        }
    }
    .nav-search{
        width: 45%;

        i{
            position: absolute;
            font-size: 19px;
            padding: 14px 19px;
            color: $gray;
            cursor: not-allowed;
        }
        input[type='text']{
            width: 100%;    
            border-radius: 20px;
            border: 1px $gray solid;
            padding: 9px;
            padding-left: 53px;
            font-size: 17px;
            transition: 0.5s;
            outline: none;
            color: $gray;
        }
        input[type='text']:focus{
            border: 1px $gray solid;
        }
    }
    .nav-links{
        // width: 32%;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-right: 40px;
        font-family: $lightfont;
        ul{
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                font-size: 17px;
                padding: 0 13px;
                margin: 0;
                a{
                    font-weight: 400;
                    text-decoration: none;  
                    color: $white;
                }
                a:hover{
                    color: violet;
                    transition: 0.3s;
                }
                i{
                    font-size: 17px;
                    color: white;
                    cursor: pointer;
                }
                i:hover{
                    color: violet;
                }
            }
            button{
                font-size: 15px;
                width: 90px;
                padding: 5px 0;
                background-color: transparent;
                transition: 0.4s;
                color: white;
                font-weight: 700;
                border: 2px black solid;
            }
            button:hover{
                background-color: rgb(20, 20, 20);
            }

        }
    }
    .res-nav-btn{
        display: none;
    }
}
.res-nav{
    display: none;
}

@media only screen and (max-width: 468px) {
    /* For mobile phones: */
    .navbar{
        .logo{
            padding-left: 20px;
            h1{
                font-size: 40px;
            }
        }
        .nav-search{
            display: none;
        }
        .nav-links{
            display: none;
        }
        .res-nav-btn{
            display: flex;
            padding-right: 20px;
            i{
                font-size: 30px;
                color: white;
            }
        }
    }
    .res-nav{
        display: block;
        position: relative;
        z-index: 999;
        background-color: white;
        width: 100%;
        height: 100vh;
        top: 0;
    }
    .res-nav-close{
        transition: .4s ease transform;
        transform: translateY(-200%);
    }
    .res-nav-open{
        // display: flex;
        transition: .4s ease transform;
        transform: translateY(0px);
    }
}