
$font-family-sans-serif-2: 'Roboto', sans-serif;
$font-family-serif: 'Source Serif Pro', serif;
$font-family-sans-serif: 'Roboto', sans-serif;

.content {
	padding: 7rem 0;
}
.i-login-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100vh;
  .bg{
    background-image: url(../asset/young-man-studying-library-using-laptop.jpg);
    background-position: center;    
	background-size: cover;
	background-repeat: no-repeat;
  }
  .i-login-form{  
    display: flex;
    height: 100vh;
    width: 100%;
	justify-content: center;
    .i-login-content{
      width: 100%;
    }
    h3{
      text-align: center;
	  font-size: 35px;
	  font-weight: 500;
    }
    button{
      width: 100%;
	  font-weight: 400;
    }
  }
  
p {
	color: darken(#ccc, 10%);
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-sans-serif;
}
a {
	transition: .3s all ease;
	&:hover {
		text-decoration: none!important;
	}
}
}
@media only screen and (max-width: 768px) {
  .i-login-container{
	grid-template-columns: 1fr;
	.i-login-form{
	  .i-login-content{
		width: 100%;
	  }
	}
  }
}
